.categories {
  // z-index: -1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.type-categorie {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.color{
    background-color: #660000 ;
    color: white;
}
.white{
    background-color: #f6f6f6;
    color: black;
}



  
//   .container:hover .overlay {
//     opacity: 1;
//   }


.type-categorie h2{
    padding-top: 100px;
    font-size: 45px;
}
.image-sites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin-top: 70px;
  padding-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.outer-border{
    width: 75%;
    
}
.image-sites img{
    grid-column-start: 2;
    transition: transform .2s;
}

.image-sites img:hover{
  transform: scale(1.2);
}
.link{
  grid-column-start: 2;
}








.test{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.test1{
  display: flex;
  flex-direction: column;
}
.test1 img{
   width: 30%;
   align-self: center;
   z-index: 2;
}

.titletest{
  align-self: center;
  background-color: #93278F;
  width: 75%;
  text-align: center;
  transform: translateY(-70px);
  border-radius: 5px;


}
.colororange{
  background-color:#f36a09 ;
}
@keyframes agrandar{
  100%{
    
    transform: translateY(-80px);
    
  }
}
.titletest:hover{
  animation-name: agrandar;
  animation-duration: 2s;
  animation-direction: alternate;
   animation-iteration-count: infinite;
  
}
.titletest h2{
  font-family: $fontprincipal;
  margin-top: 100px;
  margin-bottom: 30px;
  color: white;
  font-size: xx-large;
}
.titletest h3{
  font-family: $fontprincipal;
  margin-bottom: 60px;
  color: whitesmoke;
}