.titlelinks{
  font-family: $fontprincipal;
  
  text-align: center;
  font-size: 44px;
  color: white;
  margin-bottom: 3%;
}

.test{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
}

.test1{
  display: flex;
  flex-direction: column;
}
.test1 img{
   width: 30%;
   align-self: center;
   z-index: 2;
}
.test1 img:hover{
  transform: scale(1.1);
  transition: transform 1.2s;
}

.titletest{
  align-self: center;
  background-color: #93278F;
  width: 75%;
  text-align: center;
  transform: translateY(-70px);
  border-radius: 5px;


}
.colororange{
  background-color:#f36a09 ;
}
@keyframes agrandar{
  100%{
    
    transform: translateY(-80px);
    
  }
}
.titletest:hover{
  animation-name: agrandar;
  animation-duration: 2s;
  animation-direction: alternate;
   animation-iteration-count: infinite;
  
}
.titletest h2{
  font-family: $fontprincipal;
  margin-top: 100px;
  margin-bottom: 30px;
  color: white;
  font-size: xx-large;
}
.titletest h3{
  font-family: $fontprincipal;
  padding: 10px;
  margin-bottom: 30px;
  color: whitesmoke;
  font-size: x-large;
}
.titletest h5{
  font-family: $fontprincipal;
  margin-bottom: 60px;
  color: whitesmoke;
  padding: 10px;
  font-size: large;
}
.line{
  border-bottom: 2px solid white;
  width: 75%;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
}
.linebottom{
  border-bottom: 2px solid white;
  width: 75%;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
  margin-top: 5%;
}