.titlelinks{
  font-family: $fontprincipal;
  
  text-align: center;
  font-size: 40px;
  color: black;
  margin-bottom: 3%;
}

.test{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  
}

.test1{
  display: flex;
  flex-direction: column;
}
.test1 img{
   width: 30%;
   align-self: center;
   z-index: 2;
}
.test1 img:hover{
  animation-name: zoomimage;
  animation-duration: 1s;
  animation-direction: alternate;
   animation-iteration-count: infinite;
  
  
}

.titletest{
  align-self: center;
  background: radial-gradient(circle, rgba(213,43,30,1) 0%, rgba(213,43,30,1) 50%, rgba(144,26,17,1) 100%);
  width: 75%;
  text-align: center;
  transform: translateY(-70px);
  border-radius: 5px;
  cursor: pointer;
  height: 100%;

}
.colororange{
  background-color:#F48222 ;
}
@keyframes agrandar{
  100%{
    
    transform: translateY(-80px);
    
  }
}
@keyframes zoomimage{
  100%{
    transform: scale(1.1);
    
  }
}
.titletest:hover{
  animation-name: agrandar;
  animation-duration: 1.3s;
  animation-direction: alternate;
   animation-iteration-count: infinite;
  
}
.titletest h2{
  font-family: $fontprincipal;
  height: 70px;
  margin-top: 100px;
  margin-bottom: 7%;
  color: white;
  font-size: 24px;
  padding: 1%;
}
.titletest h3{
  font-family: $fontprincipal;
  padding: 10px;
  margin-bottom: 30px;
  color: whitesmoke;
  font-size: 21px;
}
.titletest h5{
  font-family: $fontprincipal;
  margin-bottom: 60px;
  color: whitesmoke;
  padding: 10px;
  font-size: 16px;
}
.line{
  border-bottom: 4px solid black;
  width: 75%;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
}
.linebottom{
  border-bottom: 4px solid black;
  width: 75%;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
  margin-top: 5%;
}