
.pilarescontent{
    background-color: rgb(231, 230, 230);
    
    
    
}
.pilarestitle{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    margin-bottom: 7%;
    font-family: $fontprincipal;
    color: rgb(20, 20, 20);
    
}
.pilares{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 15%;
}
.container h2{
    color: rgb(22, 22, 22);
    font-family: $fontprincipal;
    font-size: 20px;
    margin-bottom: 7%;
    padding: 1%;
  }
  
.image {
  display: inline-block;
  width: 50%;
  
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: radial-gradient(circle, rgba(213,43,30,1) 0%, rgba(213,43,30,1) 50%, rgba(144,26,17,1) 100%);
  border-radius: 5px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding:3%;
}
.orange{
  background-color: #f36a09;
}