.titleTeam{
    font-family: $fontprincipal;
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 7%;
}

.team{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
.teammate{
    margin-bottom: 15%;
}
.image-profile{
    text-align: center;
    

}

.image-profile img{ 
    box-shadow: 0px 0px 0px 1px black;
    transition: box-shadow 0.6s linear;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}
.image-profile img:hover{
    box-shadow: 0px 0px 0px 7px #B40406;
}
.image-profile div:hover{
    box-shadow: 0px 0px 0px 7px #B40406;
}
.position{
    font-family: $fontprincipal;
    text-align: center;
    margin-top: 4%;
    color: black;
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 21px;
    }
    h4{
        font-size: 19px;
    }
    .margin{
        margin-bottom: 2%;
    }
}
.icons{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
   justify-content: center;

}
.icon{
    padding: 2%;
    text-decoration: none;
    color: black;
}
.teamsLogo {
    margin-top:4px; 
}
.teamsLogo img{
   margin-top: 2%;
    width: 40px;
    align-items: center;
    
}


