@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  
}
$fontprincipal : "Rubik", sans-serif;
$cards-per-row: 3;

$card-border: #ddd;
$card-border-radius: 3px;
$card-border-width: 1px;
$card-height: 160px;
$card-margin: 30px;
$card-padding: 10px;

$card-footer-bg: #eee;

$img-width: 150px;
$img-height: 150px;
$img-border: white;
$img-border-width: 6px;

main{
  background-color: #002642;
}
@import 'header';
@import 'mainvideo';
@import 'categories';
@import 'pilares';
@import 'team';


footer {
  margin-top: 20%;
}
