@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #002642;
}

header {
  height: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.nav-transparent {
  background-color: transparent;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.nav-colored {
  background-color: #005a87;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.video {
  width: 100%;
  height: 100vh;
  margin-bottom: 7%;
}

.videosrc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.titlelinks {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 44px;
  color: white;
  margin-bottom: 3%;
}

.test {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.test1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test1 img {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

.test1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.titletest {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #93278F;
  width: 75%;
  text-align: center;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  border-radius: 5px;
}

.colororange {
  background-color: #f36a09;
}

@-webkit-keyframes agrandar {
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@keyframes agrandar {
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

.titletest:hover {
  -webkit-animation-name: agrandar;
          animation-name: agrandar;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.titletest h2 {
  font-family: "Rubik", sans-serif;
  margin-top: 100px;
  margin-bottom: 30px;
  color: white;
  font-size: xx-large;
}

.titletest h3 {
  font-family: "Rubik", sans-serif;
  padding: 10px;
  margin-bottom: 30px;
  color: whitesmoke;
  font-size: x-large;
}

.titletest h5 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 60px;
  color: whitesmoke;
  padding: 10px;
  font-size: large;
}

.line {
  border-bottom: 2px solid white;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
}

.linebottom {
  border-bottom: 2px solid white;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
  margin-top: 5%;
}

.pilarescontent {
  background-color: #032b47;
}

.pilarestitle {
  text-align: center;
  margin-top: 5%;
  font-size: 44px;
  margin-bottom: 7%;
  font-family: "Rubik", sans-serif;
  color: white;
}

.pilares {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 15%;
}

.container h2 {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  margin-bottom: 7%;
}

.image {
  display: inline-block;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #93278F;
  border-radius: 5px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3%;
}

.orange {
  background-color: #f36a09;
}

.titleTeam {
  font-family: "Rubik", sans-serif;
  margin-top: 5%;
  text-align: center;
  font-size: 44px;
  color: white;
  margin-bottom: 7%;
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.teammate {
  margin-bottom: 15%;
}

.image-profile {
  text-align: center;
}

.image-profile img {
  -webkit-box-shadow: 0px 0px 0px 1px #FAFAFA;
          box-shadow: 0px 0px 0px 1px #FAFAFA;
  -webkit-transition: -webkit-box-shadow 0.6s linear;
  transition: -webkit-box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.image-profile img:hover {
  -webkit-box-shadow: 0px 0px 0px 7px #B40406;
          box-shadow: 0px 0px 0px 7px #B40406;
}

.position {
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin-top: 4%;
  color: white;
}

.icons {
  margin-top: 10px;
}

.icon {
  padding: 2%;
  text-decoration: none;
  color: white;
}

.margin {
  margin-bottom: 2%;
}
/*# sourceMappingURL=style.css.map */