@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d8dada;
}

header {
  height: 70px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.brand-logo {
  position: absolute;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
  margin-top: 18px;
}

.nav-transparent {
  background-color: transparent;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.nav-colored {
  background-color: #d52b1e;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2%;
  list-style: none;
}

.menuLink {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  color: white;
  font-size: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.video {
  width: 100%;
  height: 100vh;
  margin-bottom: 7%;
}

.videosrc {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.titlelinks {
  font-family: "Rubik", sans-serif;
  text-align: center;
  font-size: 40px;
  color: black;
  margin-bottom: 3%;
}

.test {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.test1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test1 img {
  width: 30%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 2;
}

.test1 img:hover {
  -webkit-animation-name: zoomimage;
          animation-name: zoomimage;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.titletest {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: radial-gradient(circle, #d52b1e 0%, #d52b1e 50%, #901a11 100%);
  width: 75%;
  text-align: center;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
}

.colororange {
  background-color: #F48222;
}

@-webkit-keyframes agrandar {
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@keyframes agrandar {
  100% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
}

@-webkit-keyframes zoomimage {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes zoomimage {
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.titletest:hover {
  -webkit-animation-name: agrandar;
          animation-name: agrandar;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.titletest h2 {
  font-family: "Rubik", sans-serif;
  height: 70px;
  margin-top: 100px;
  margin-bottom: 7%;
  color: white;
  font-size: 24px;
  padding: 1%;
}

.titletest h3 {
  font-family: "Rubik", sans-serif;
  padding: 10px;
  margin-bottom: 30px;
  color: whitesmoke;
  font-size: 21px;
}

.titletest h5 {
  font-family: "Rubik", sans-serif;
  margin-bottom: 60px;
  color: whitesmoke;
  padding: 10px;
  font-size: 16px;
}

.line {
  border-bottom: 4px solid black;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
}

.linebottom {
  border-bottom: 4px solid black;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-left: 12.5%;
  margin-top: 5%;
}

.pilarescontent {
  background-color: #e7e6e6;
}

.pilarestitle {
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
  margin-bottom: 7%;
  font-family: "Rubik", sans-serif;
  color: #141414;
}

.pilares {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 15%;
}

.container h2 {
  color: #161616;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  margin-bottom: 7%;
  padding: 1%;
}

.image {
  display: inline-block;
  width: 50%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background: radial-gradient(circle, #d52b1e 0%, #d52b1e 50%, #901a11 100%);
  border-radius: 5px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 18px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 3%;
}

.orange {
  background-color: #f36a09;
}

.titleTeam {
  font-family: "Rubik", sans-serif;
  margin-top: 5%;
  text-align: center;
  font-size: 40px;
  color: black;
  margin-bottom: 7%;
}

.team {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.teammate {
  margin-bottom: 15%;
}

.image-profile {
  text-align: center;
}

.image-profile img {
  -webkit-box-shadow: 0px 0px 0px 1px black;
          box-shadow: 0px 0px 0px 1px black;
  -webkit-transition: -webkit-box-shadow 0.6s linear;
  transition: -webkit-box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear;
  transition: box-shadow 0.6s linear, -webkit-box-shadow 0.6s linear;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.image-profile img:hover {
  -webkit-box-shadow: 0px 0px 0px 7px #B40406;
          box-shadow: 0px 0px 0px 7px #B40406;
}

.image-profile div:hover {
  -webkit-box-shadow: 0px 0px 0px 7px #B40406;
          box-shadow: 0px 0px 0px 7px #B40406;
}

.position {
  font-family: "Rubik", sans-serif;
  text-align: center;
  margin-top: 4%;
  color: black;
}

.position h2 {
  font-size: 20px;
}

.position h3 {
  font-size: 18px;
}

.position h4 {
  font-size: 16px;
}

.position .margin {
  margin-bottom: 2%;
}

.icons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  padding: 2%;
  text-decoration: none;
  color: black;
}

.teamsLogo {
  margin-top: 4px;
}

.teamsLogo img {
  margin-top: 2%;
  width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  position: relative;
}

.background {
  background-image: url(../images/contacto.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

.content-contact {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.contact h2 {
  padding-top: 10%;
  font-family: "Rubik", sans-serif;
  margin-top: 5%;
  text-align: center;
  font-size: 44px;
  color: black;
  margin-bottom: 2%;
}

.options {
  font-family: "Rubik", sans-serif;
  margin-top: 2%;
  text-align: center;
  font-size: 23px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.options a {
  text-decoration: none;
  color: black;
}

footer {
  background: radial-gradient(circle, #d52b1e 0%, #d52b1e 50%, #901a11 100%);
  padding: 1%;
}

.logo {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */